* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
.homeContent {
    display: table;
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
}
#containerA {
    display: block;
    position: fixed;
    width: 33.33%;
    height: 100vh;
    overflow: hidden;
}
#containerB {
    display: block;
    position: relative;
    width: 33.33%;
    margin-left: 33.33%;
}     
#containerC {
    display: block;
    position: fixed;
    width: 33.33%;
    height: 100vh;
    overflow: hidden;
    right: 0px;
    top: 7px;
}
#one { 
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding-left: 5px;
}       
#three { 
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding-right: 5px;
}
.colImage {
    padding: 5px;
}
.colImage img {
    display: block;
    position: relative;
} 
