{
    box-sizing: border-box;
}
    /* Set additional styling options for the columns */
.column {
  float: left;
}

    /* Set width length for the left, right and middle columns */
.left {
  width: 33%;
}

.middle {
  width: 33%;
}
    
.right {
  width: 33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
